.hero-banner {
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Featured Speakers */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover .card-body {
    color: rgb(20, 110, 206);
}

/* What People Are Saying Section */
.quote {
    border-left: 5px solid rgb(20, 110, 206);
    height: 20vh;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    .quote {
        height: 40vh;
    }
}
/* Event Preview Responsiveness */
@media (min-width: 768px) {
    .embed-responsive iframe {
        width: 60%;
        height: 400px;
    }
}

@media (max-width: 767px) {
    .embed-responsive iframe {
        width: 100%;
        height: 200px;
    }
}

/* Countdown */
.timer {
    margin: 0 1rem;
    animation: pulse 2s infinite;
    /* Adjust the duration as needed */
}

.timer-bg-light {
    background-color: #c3e0f2;
    padding: 8px;
    border-radius: 5px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}